.Main_Of_Site{
    position: absolute;
    top: 300px;
    width: 360+116px;
    height: 3000px;
    left: 200px;
}

.List_Of_Music{
    position: absolute;
    top: 30px;
    width: 300px;
    left: 200px;
}
.List_Of_Pictures{
    position: absolute;
    height: 1100px;
    width: 114px;
}

audio{
    padding: 35px;
}

img{
    padding: 5px;
}
body
{
  background: rgb(156, 0, 47)
}
