body
{
  background: rgb(0, 0, 0)
}

#tery {
    background: url(D:/ScoolProject-20221118T212531Z-001/ScoolProject/anim/BackGround.gif);
}

nav
{
  width:960px;
  margin: 0 auto;
}

nav:before
{
  content:" ";
  display:block;
  height:50px;
  width:100%;
  background:#000;
  position:absolute;
  left:0;
  z-index:-1;
}

#TreeN {
    position: absolute;
    top: 10%;
    left: 40%;
}

ul
{
  margin:0;
  padding:0;
  list-style:none;
  height:50px;
}

ul li
{
  float:left;
}

ul li a 
{
  color:#fff;
  display:block;
  height:50px;
  padding:0 30px;
  text-transform:uppercase;
  text-decoration:none;
  line-height:50px;
}

ul li a:hover
{
  background:#df2d21;
}

#rectangle{
    width:200px;
    height:100px;
    background:blue;
}